<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SistemaTurismo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SistemaTurismo.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="menu-nav">
            <div class="logo">
                <a asp-page="/Index">Sistema Turismo</a>
            </div>
            <ul class="menu-list">
                <li>
                    <a asp-page="/Index">Home</a>
                </li>
                <li>
                    <a asp-page="IndexCliente">Cliente</a>
                </li>
                <li>
                    <a asp-page="IndexDestino">Destino</a>
                </li>
                <li>
                    <a asp-page="IndexPacoteTuristico">Pacote Turistico</a>
                </li>
                <li>
                    <a asp-page="IndexReserva">Reserva</a>
                </li>
                <li>
                    <a asp-page="ViewNotes">Notas</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>